<div class="row" style="margin: auto !important;">
	<div class="col-sm-9 centered">
		<div class="row">
			<div class="col-sm-10">
				<div class="media">
					<div class="media-left">
						<a href="">
							<img src="images/votacao.jpg" class="media-object" style="height:64px; width: 64px;">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">
							Media Media
						</h4>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<button type="button" class="btn btn-default" style="width: auto !important;">Voto</button>
			</div>
		</div>
	</div>
</div>
