<div class="row">
	<div class="col-sm-4"></div>

	<div class="col-sm-4" style="width: 100% !important; float: left !important;">
	<h2 align="center">SEJA BEM VINDO</h2>
			<h2 align="center">SISTEMA DE VOTAÇÃO </h2><br>
		
		<div id="loginBox" class="center">
				<div class="center" >
					<img  id = "image_visitor" src = "images/votacao.jpg" />
				</div>	
			  <form class="form-horizontal" role="form">
			  <p id="erro-login" ng-show="erroLogin">Credenciais Inválidas!</p>
			    <div class="form-group">
			      <label class="control-label col-sm-2" for="usename">User</label>
			      <div class="col-sm-10">
			        <input type="text" class="form-control" id="user" placeholder="digite o seu username" ng-model="username">
			      </div>
			    </div>
			    <div class="form-group">
			      <label class="control-label col-sm-2" for="pwd">Senha</label>
			      <div class="col-sm-10">          
			        <input type="password" class="form-control" id="senha" placeholder="digite a senha" ng-model="password">
			      </div>
			    </div>
			    
			    <div class="form-group" class="btn-success">        
			      <div class="col-sm-offset-2 col-sm-10" >
			        <button id="login" type="submit" class="btn btn-info" ng-click="login(username, password)">Entrar</button>
			      </div>
			    </div>
			  </form>
			  <a href="#/auth/visitor">
					<p style="text-align:center; font-weight:bold;">Entrar Como visitante</p>
				</a>
		</div>

	</div>
	<div class="col-sm-4"></div>

</div>