<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand">Estatísticas</a>
		</div>
		<div class="collapse navbar-collapse" style="float: right;">
			<form class="navbar-form navbar-left">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Busca ráida">
				</div>
			</form>
		</div>
	</div>
</nav>

<span style="color: #777; font-size: 26px;">Forma1: Bolo</span>
<hr/>
<canvas id="chart" style="width: 1000px !important; height: 500px !important;"></canvas>
<br/>
<span style="color: #777; font-size: 26px;">Forma2: Barras</span>
<hr/>
<canvas id="chart2" style="width: 1000px !important; height: 500px !important;"></canvas>

<script type="text/javascript">
Chart.defaults.global.defaultFontSize = 22;
var ct = $("#chart");
var ct2 = $("#chart2");
var newChart = new Chart(ct, {
	type: 'pie',
	data: {
		labels: ["Renamo", "Frelimo", "MDN"],
		datasets: [{
			label: 'Votos',
			data: [12, 19, 3],
			backgroundColor: ['red', 'blue', 'pink']	
		}]	
	},
});

var newChart2 = new Chart(ct2, {
	type: 'bar',
	data: {
		labels: ["Renamo", "Frelimo", "MDN"],
		datasets: [{
			label: 'Votos',
			data: [12, 19, 3],
			backgroundColor: ['red', 'blue', 'pink']	
		}]	
	},
	options: {
		scales: {
			yAxes: [{
				ticks: {
					beginAtZero: true
				}
			}]
		}
	}

});
</script>