<link href="styles/elements2.css" rel="stylesheet">

<nav class="navbar navbar-inverse navbar-fixed-top"> 
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">FEMOENG</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        
        <li><a href="#">Login</a></li>
      </ul>
     
    </div>
  </div>
</nav>

<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar dentro">
          <ul class="nav nav-sidebar" style="height:1350px !important;">
            <li class="active">
            <li ><a href="#/admin/hr">Recursos Humanos<span class="sr-only">(current)</span></a></li>
            <li ><a href="#/admin/projects">Projectos</a></li>
            <li class="active"><a href="#/admin/statistics">Estatística</a></li>
          </ul>
        </div>
        
        <div class="col-sm-9">
          <div class="text-center">
            <h3 class="page-header" style="padding-top: 20px;">Estatistica</h3>
          </div>
          <div class="row placeholders">
            
          </div>
          <!-- tabela -->
          <div id = "b_top_div">

            <select class="form-control center" style="width: 30% !important;" >
              <option ng-click = "updateBars('',criterio.todos)" ng-model = "criterio.todos" >todos</option>
              <option ng-click = "updateBars('?criterio',criterio.mais_criativo)" ng-model = "criterio.mais_criativo" >mais criativo</option>
              <option ng-click = "updateBars('?criterio',criterio.melhor_apresentacao)" ng-model = "criterio.melhor_apresentacao" >melhor apresenta&ccedil;&atilde;o</option>
              <option ng-click = "updateBars('?criterio',criterio.maior_impacto_social)" ng-model = "criterio.maior_impacto_social" >maior impacto social</option>
            </select>
          </div>

          <div class="table-responsive">
            <div  id="b_div_tabela">

              <!--
              <div class="col-sm-2" id="bts_left">
      
                <input id = "b_tutor" type="submit" name = "" value = "Inovador"  />
                <input id = "b_tutor" type="submit" name = "" value = "Apresentacao"  />
                <input id = "b_tutor" type="submit" name = "" value = "I. Social"  />
                   
                
               </div>
              -->


                <div class="col-sm-12">
                  <span style="color: #777; font-size: 26px;">Forma1: Bolo</span>
                  <hr/>
                  <canvas id="chart" style="width: 800px !important; height: 350px !important;"></canvas>
                  <br/>
                  <span style="color: #777; font-size: 26px;">Forma2: Barras</span>
                  <hr/>
                  <canvas id="chart2" style="width: 1000px !important; height: 500px !important;"></canvas>
                </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  <!--  <script type="text/javascript">
        Chart.defaults.global.defaultFontSize = 22;
        var ct = $("#chart");
        var ct2 = $("#chart2");
        var newChart = new Chart(ct, {
          type: 'pie',
          data: {
            labels: ["Renamo", "Frelimo", "MDN"],
            datasets: [{
              label: 'Votos',
              data: [12, 19, 3],
              backgroundColor: ['red', 'blue', 'pink']  
            }]  
          },
        });

        var newChart2 = new Chart(ct2, {
          type: 'bar',
          data: {
            labels: ["Renamo", "Frelimo", "MDN"],
            datasets: [{
              label: 'Votos',
              data: [12, 19, 3],
              backgroundColor: ['red', 'blue', 'pink']  
            }]  
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          }

        });
    </script>  -->