<div class="right">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      {{username}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu " aria-labelledby="dropdownMenu1">
      <li><a href="#">Sair</a></li>
    </ul>
  </div>
</div>


<div class="titulo_sistema center">
		<h2 align="center"> SISTEMA DE VOTAÇÃO </h2><br>			
</div>
	
<div class="container" id="divPrincipal">
   
  <div class="col-md-3 book-card"></div>
   
    <!-- inicio da divVotar-->
  <div class="col-md-3 book-card">
   
    <img src="/images/votacao.jpg" class="img-responsive" alt="">
    <button class="btn-block btn-primary btn"> <h3 align="center"> VOTAR </h3> </button>
  </div>
   <!-- fim da divVotar-->
   
    <!-- inicio da divDefinicoes-->
  <div class="col-md-3 book-card">
    <img src="images/votacao.jpg" class="img-responsive" alt="">
    <button class="btn-block btn-primary btn"> <h3 align="center"> DEFINICOES </h3>  </button>
  </div>
   <!-- fim da divDefinicoes-->
   
    <!-- inicio da divEstatistica-->
   
  <div class="col-md-3 book-card">
    <img src="images/votacao.jpg" class="img-responsive" alt="">
    <button class="btn-block btn-primary btn" ng-click="redireccionar()"> <h3 align="center"> ESTATISTICA</h3>  </button>
  </div>
   
   <!-- fim da divEstatistica-->
  <div class="col-md-3 book-card"></div>
   
</div>